{{!세부 게시판 HTML}}
{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th> {{!ㅈ목 변경}}
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        {{!<th scope="col">Handle</th> -> 삭제 }}
    </tr>
    </thead>
    <tbody>
{{! #article /article 사이에 사용 범위를 정할 수 있다.}}
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
{{!Edit 버튼 만들기}}
{{!class="btn btn-primary" 부트 스트랩 CSS 적용해 속성 추가}}
<a href="/articles">GO to Article List</a>

{{>layouts/footer}}